.header {
  background-color: #12afda;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  justify-content: space-between;
}

.left-side {
  padding-left: 150px;
  padding-top: 10px;
}

.free-shipping {
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: background-color 0.4s;
}

.free-shipping:hover {
  background-color: blue;
}

.free-shipping-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.free-shipping-text {
  width: 140px;
  font-family: Arial;
  color: white;
  font-weight: bold;
}

.middle-side {
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 90px;
  height: 90px;
}

.right-side {
  padding-top: 15px;
  padding-right: 150px;
}

.shopping-cart-img {
  width: 50px;
  height: 50px;
}

.navigation-bar {
  background-color: #0e85a6;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 90px;
}

.left-section {
  display: flex;
  padding-left: 150px;
  align-items: center;
}

.login,
.register {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.login:hover,
.register:hover {
  background-color: #074253;
  cursor: pointer;
}


.middle-section {
  display: flex;
  align-items: center;
}

.periphery {
  color: white;
  font-family: Arial;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.periphery:hover {
  background-color: #074253;
}

.right-section {
  display: flex;
  padding-right: 150px;
  align-items: center;
}

.phone-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.phone-number{
    font-family: Arial;
    color: white;
    font-weight: bold;
}