.header {
  background-color: #12afda;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side {
  padding-left: 100px;
  padding-top: 10px;
}

.free-shipping {
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: background-color 0.4s;
}

.free-shipping:hover {
  background-color: #0d83a3;
}

.free-shipping-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.free-shipping-text {
  width: 140px;
  font-family: Arial;
  color: white;
  font-weight: bold;
}

.middle-side {
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 90px;
  height: 90px;
}

.right-side {
  padding-top: 15px;
  padding-right: 150px;
}

.shopping-cart-container {
  position: relative;
}

.shopping-cart-count {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: red;
  color: white;
  font-family: Arial;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
}

.shopping-cart-img {
  width: 50px;
  height: 50px;
}

.navigation-bar {
  background-color: #0e85a6;
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}

.left-section {
  display: flex;
  padding-left: 150px;
  align-items: center;
}

.login,
.register {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.login:hover,
.register:hover {
  background-color: #074253;
  cursor: pointer;
}

.middle-section {
  display: flex;
  align-items: center;
}

.periphery {
  color: white;
  font-family: Arial;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.periphery:hover {
  background-color: #074253;
}

.right-section {
  display: flex;
  padding-right: 150px;
  align-items: center;
}

.phone-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.phone-number {
  font-family: Arial;
  color: white;
  font-weight: bold;
}

/* new */

.dropbtn {
  background-color: #0e85a6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #074253;
}

.link-container {
  display: flex;
  align-items: center;
  height: 10px;
}

.link-image {
  width: 15px;
  padding-right: 10px;
}

.link-text {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

.link-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #b82424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.link-button:hover {
  background-color: #981e1e;
}

.dropbtn {
  height: 50px;
  display: flex;
  align-items: center;
}

.link-button-login,
.link-button-register {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #b82424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.products-router {
  text-decoration: none;
}
