<div class="header">
  <div class="left-side">
    <div class="free-shipping">
      <img class="free-shipping-img" src="../../../assets/free-shipping.png" />
      <p class="free-shipping-text">Free shipping for orders over 49$.</p>
    </div>
  </div>
  <div class="middle-side">
    <a routerLink="/"
      ><img class="logo-img" src="../../../assets/MaxPlay-logo.png"
    /></a>
  </div>
  <div class="right-side">
    <img class="shopping-cart-img" src="../../../assets/shopping-cart.png" />
  </div>
</div>

<div class="navigation-bar">
  <div class="left-section">
    <div class="dropdown">
      <button class="dropbtn">
        <img src="../../../assets/icon_user.webp" />
      </button>
      <div class="dropdown-content">
        <div class="dropdown-content">
          <ng-container *ngIf="isUser">
            <a href="#"
              ><div class="link-container">
                <img
                  class="link-image"
                  src="../../../assets/house-user-solid.svg"
                />
                <p class="link-text">Profile</p>
              </div></a
            >
            <a href="#"
              ><div class="link-container">
                <img class="link-image" src="../../../assets/check-solid.svg" />
                <p class="link-text">Orders</p>
              </div></a
            >
            <a href="#"
              ><div class="link-container">
                <img class="link-image" src="../../../assets/heart-solid.svg" />
                <p class="link-text">Favourites</p>
              </div></a
            >

            <button class="link-button" (click)="logout()">
              <div class="link-container">
                <img
                  class="link-image"
                  src="../../../assets/right-from-bracket-solid.svg"
                />
                <p class="link-text">Logout</p>
              </div>
            </button>
          </ng-container>

          <ng-container *ngIf="!isUser">
            <a routerLink="/login"
              ><div class="link-container">
                <p class="link-text">Login</p>
              </div></a
            >
            <a routerLink="/register"
              ><div class="link-container">
                <p class="link-text">Register</p>
              </div></a
            >
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-section">
    <a class="products-router" routerLink="/products/Keyboards"
      ><div class="periphery">Keyboards</div></a
    >
    <a class="products-router" routerLink="/products/Mouses"
      ><div class="periphery">Mouses</div>
    </a>
    <a class="products-router" routerLink="/products/Monitors"
      ><div class="periphery">Monitors</div></a
    >
    <a class="products-router" routerLink="/products/Chairs"
      ><div class="periphery">Chairs</div></a
    >
    <a class="products-router" routerLink="/products/Computers">
      <div class="periphery">Computers</div></a
    >
    <a class="products-router" routerLink="/products/Laptops"
      ><div class="periphery">Laptops</div></a
    >
  </div>
  <div class="right-section">
    <img class="phone-img" src="../../../assets/phonee.jpg" />
    <div class="phone-number">02 4535460</div>
  </div>
</div>
