<div class="header">
  <div class="left-side">
    <div class="free-shipping">
      <img class="free-shipping-img" src="../../../assets/free-shipping.png" />
      <p class="free-shipping-text">Free shipping for orders over 49$.</p>
    </div>
  </div>
  <div class="middle-side">
    <a routerLink="/"
      ><img class="logo-img" src="../../../assets/MaxPlay-logo.png"
    /></a>
  </div>
  <div class="right-side">
    <img class="shopping-cart-img" src="../../../assets/shopping-cart.png" />
  </div>
</div>

<div class="navigation-bar">
  <div class="left-section">
    <a class="login" routerLink="/login">Login</a>
    <a class="register" routerLink="/register">Register</a>
  </div>
  <div class="middle-section">
    <div class="periphery">Keyboards</div>
    <div class="periphery">Mouses</div>
    <div class="periphery">Monitors</div>
    <div class="periphery">Chairs</div>
    <div class="periphery">Computers</div>
    <div class="periphery">Laptops</div>
  </div>
  <div class="right-section">
    <img class="phone-img" src="../../../assets/phonee.jpg" />
    <div class="phone-number">02 4535460</div>
  </div>
</div>
