<form #register="ngForm" (ngSubmit)="registerUser()">
  <div class="container">
    <div class="register-container">
      <div class="register-text">Register new account</div>
      <div class="inputs-container">
        <input
          [(ngModel)]="firstName"
          name="firstName"
          class="input"
          type="text"
          placeholder="Name"
        />
        <input
          [(ngModel)]="lastName"
          name="lastName"
          class="input"
          type="text"
          placeholder="Last Name"
        />
        <input
          [(ngModel)]="email"
          name="email"
          class="input"
          type="text"
          placeholder="Email"
        />
        <input
          [(ngModel)]="password"
          name="password"
          class="input"
          type="text"
          placeholder="Password"
        />
        <input
          [(ngModel)]="repass"
          name="repass"
          class="input"
          type="text"
          placeholder="Repeat Password"
        />
      </div>

      <div class="buttons-container">
        <button class="register-button">Register</button>
        <a class="already-registered" routerLink="/login"
          >I am already registered</a
        >
      </div>
    </div>
  </div>
</form>
