<form #register="ngForm" (ngSubmit)="registerUser()">
  <div class="container">
    <div class="register-container">
      <div class="register-text">Register new account</div>
      <ng-container *ngIf="errorMessage">
        <div class="error-message">
          <img class="error-img" src="../../../assets/close.png" />
          <p class="error-text">{{ errorMessage }}</p>
        </div>
      </ng-container>
      <div class="inputs-container">
        <input
          [(ngModel)]="firstName"
          name="firstName"
          class="input"
          type="text"
          placeholder="Name"
          #firstNameInput="ngModel"
        />

        <ng-container
          *ngIf="
            !isFirstNameValid() &&
            (firstNameInput.dirty || firstNameInput.touched)
          "
        >
          <div class="error-container">
            <img class="error-img" src="../../../assets/close.png" />
            <p class="error-text">Name must be at least 3 characters long</p>
          </div>
        </ng-container>

        <input
          [(ngModel)]="lastName"
          name="lastName"
          class="input"
          type="text"
          placeholder="Last Name"
          #lastNameInput="ngModel"
        />

        <ng-container
          *ngIf="
            !isLastNameValid() && (lastNameInput.dirty || lastNameInput.touched)
          "
        >
          <div class="error-container">
            <img class="error-img" src="../../../assets/close.png" />
            <p class="error-text">
              Last Name must be at least 3 characters long
            </p>
          </div>
        </ng-container>

        <input
          [(ngModel)]="email"
          name="email"
          class="input"
          type="text"
          placeholder="Email"
          #emailInput="ngModel"
        />

        <ng-container
          *ngIf="!isEmailValid() && (emailInput.dirty || emailInput.touched)"
        >
          <div class="error-container">
            <img class="error-img" src="../../../assets/close.png" />
            <p class="error-text">
              Email must be valid (ex. johndoe@gmail.com)
            </p>
          </div>
        </ng-container>
        <input
          [(ngModel)]="password"
          name="password"
          class="input"
          type="text"
          placeholder="Password"
          #passwordInput="ngModel"
        />

        <ng-container
          *ngIf="
            isPasswordValid() && (passwordInput.dirty || passwordInput.touched)
          "
        >
          <div class="error-container">
            <img class="error-img" src="../../../assets/close.png" />
            <p class="error-text">Password must be at least 6 characters</p>
          </div>
        </ng-container>
        <input
          [(ngModel)]="repass"
          name="repass"
          class="input"
          type="text"
          placeholder="Repeat Password"
          #repassInput="ngModel"
        />
      </div>

      <ng-container
        *ngIf="!isRepassValid() && (repassInput.dirty || repassInput.touched)"
      >
        <div class="error-container">
          <img class="error-img" src="../../../assets/close.png" />
          <p class="error-text">Password's must match</p>
        </div>
      </ng-container>

      <div class="buttons-container">
        <button class="register-button">Register</button>
        <a class="already-registered" routerLink="/login"
          >I am already registered</a
        >
      </div>
    </div>
  </div>
</form>
