<div class="container">
  <form>
    <div class="register-container">
      <div class="register-text">Register new account</div>
      <div class="inputs-container">
        <input class="input" type="text" placeholder="Name" />
        <input class="input" type="text" placeholder="Last Name" />
        <input class="input" type="text" placeholder="Email" />
        <input class="input" type="text" placeholder="Password" />
        <input class="input" type="text" placeholder="Repeat Password" />
      </div>

      <div class="buttons-container">
        <a class="register-button" href="#">Register</a>
        <a class="already-registered" routerLink="/login"
          >I am already registered</a
        >
      </div>
    </div>
  </form>
</div>
