.container {
  height: 600px;
  background-color: #0b6d88;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  background-color: white;
  border: 1px solid black;
  width: 500px;
  border-radius: 4px;
}

.register-text {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: Arial;
  font-size: 25px;
  color: #b1b1b1;
}

.inputs-container {
  padding-left: 10px;
  padding-right: 20px;
}

.input {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border: none;
}

.buttons-container {
  background-color: #86c0d0;
  margin-top: 30px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.register-button,
.already-registered {
  background-color: #00aeda;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  font-family: Arial;
  border-radius: 4px;
}

.register-button:hover,
.already-registered:hover {
  background-color: #008fb4;
}
