<form #login="ngForm" (ngSubmit)="loginUser()">
  <div class="container">
    <div class="login-container">
      <div class="login-text">Log in your account</div>
      <div class="inputs-container">
        <input
          [(ngModel)]="email"
          name="email"
          class="input"
          type="text"
          placeholder="Email"
        />
        <input
          [(ngModel)]="password"
          name="password"
          class="input"
          type="text"
          placeholder="Password"
        />
      </div>

      <div class="buttons-container">
        <button class="login-button">Login</button>
        <a class="not-registered" routerLink="/register"
          >I don't have an account</a
        >
      </div>
    </div>
  </div>
</form>
