<div class="container">
  <form>
    <div class="login-container">
      <div class="login-text">Log in your account</div>
      <div class="inputs-container">
        <input class="input" type="text" placeholder="Email" />
        <input class="input" type="text" placeholder="Password" />
      </div>

      <div class="buttons-container">
        <a class="login-button" href="#">Login</a>
        <a class="not-registered" routerLink="/register"
          >I don't have an account</a
        >
      </div>
    </div>
  </form>
</div>
