<div class="footer">
  <p class="footer-text">2023 - MaxPlay - All rights reserved</p>
</div>

<!-- <div class="footer-info">
  <div class="middle-side">
    <a routerLink="/"
      ><img class="logo-img" src="../../../assets/MaxPlay-logo.png"
    /></a>
  </div>

  <div class="left-side">
    <div class="free-shipping">
      <img class="free-shipping-img" src="../../../assets/free-shipping.png" />
      <p class="free-shipping-text">Free shipping for orders over 49$.</p>
    </div>
  </div>
</div> -->
