<div class="container">
  <div class="product-container">
    <div class="img-container">
      <img
        class="product-image"
        src="{{item.image}}"
      />
    </div>
    <div class="product-header">
      <div class="product-title">{{item.title}}</div>
      <div class="product-description">
        Геймърска клавиатура HAMA uRage "Exodus 210 Illuminated", Кирилизирана,
        Черна
      </div>
      <div class="price-container">
        <div class="product-price">{{item.price?.toFixed(2)}}$</div>
        <div class="product-add-to-cart">
          <button class="product-add-to-cart-button">
            <img src="../../../assets/icon_product_cart.webp" /> Add to cart
          </button>
        </div>
        <img
          class="wishlist-icon"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
      <div class="product-info">
        <div class="product-description">
          {{item.description}}
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
      </div>
    </div>
  </div>
</div>
