<div class="container">
  <div class="product-container">
    <div class="img-container">
      <img
        class="product-image"
        src="./441eebda-3579-b187-7739-6bca5435811b.jpg"
      />
    </div>
    <div class="product-header">
      <div class="product-title">URAGE EXODUS 210 ILLUMINATED</div>
      <div class="product-description">
        Геймърска клавиатура HAMA uRage "Exodus 210 Illuminated", Кирилизирана,
        Черна
      </div>
      <div class="price-container">
        <div class="product-price">27.00lv.</div>
        <div class="product-add-to-cart">
          <button class="product-add-to-cart-button">
            <img src="../../../assets/icon_product_cart.webp" /> Add to cart
          </button>
        </div>
        <img
          class="wishlist-icon"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
      <div class="product-info">
        <div class="product-description">
          Бърза клавиатура с клавиши за екстремни входни скорости Осветлението
          на ключовете в 7 цвята може да бъде включено / изключено Режим на
          нощно виждане: пълна видимост дори на тъмно благодарение на осветени
          клавиши 26 програмируеми клавиша (със софтуер за игри) 4 допълнителни
          макро клавиша с „запис в движение“: Записването на макро също е
          възможно без софтуер 12 мултимедийни директни функции (FN функции)
          Дизайн против умора на китката Вградена памет Функция за заключване на
          Win Различни профили за различни игри или потребители Anti-ghosting до
          19-клавиша QWERTY оформление(Кирилизирана)
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
        <div class="product-characteristics">
          <div class="product-type">Гаранция</div>
          <div class="product-value">24 месеца</div>
        </div>
      </div>
    </div>
  </div>
</div>
