<div class="image-container">
  <img class="home-image" src="../../../assets/home picture.webp" />
</div>

<div class="new-items-text">NEW ITEMS</div>

<div class="new-items-container">
  <div class="new-item-row">
    <div class="new-image">
      <img class="item-image" src="../../../assets/MaxPlay-logo.png" />
    </div>
    <div class="item-title">MaxPlay-logo</div>
    <div class="item-details-container">
      <div class="item-type"><span class="item-span">Type</span>: Keyboard</div>
      <div class="item-RGB"><span class="item-span">RGB</span>: Yes</div>
    </div>
    <div class="item-price-container">
      <div class="item-price">250.00$</div>
      <div class="item-buttons">
        <img class="btn-img" src="../../../assets/icon_product_cart.webp" />
        <img
          class="btn-img"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
    </div>
  </div>
  <div class="new-item-row">
    <div class="new-image">
      <img class="item-image" src="../../../assets/MaxPlay-logo.png" />
    </div>
    <div class="item-title">MaxPlay-logo</div>
    <div class="item-details-container">
      <div class="item-type"><span class="item-span">Type</span>: Keyboard</div>
      <div class="item-RGB"><span class="item-span">RGB</span>: Yes</div>
    </div>
    <div class="item-price-container">
      <div class="item-price">250.00$</div>
      <div class="item-buttons">
        <img class="btn-img" src="../../../assets/icon_product_cart.webp" />
        <img
          class="btn-img"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
    </div>
  </div>
  <div class="new-item-row">
    <div class="new-image">
      <img class="item-image" src="../../../assets/MaxPlay-logo.png" />
    </div>
    <div class="item-title">MaxPlay-logo</div>
    <div class="item-details-container">
      <div class="item-type"><span class="item-span">Type</span>: Keyboard</div>
      <div class="item-RGB"><span class="item-span">RGB</span>: Yes</div>
    </div>
    <div class="item-price-container">
      <div class="item-price">250.00$</div>
      <div class="item-buttons">
        <img class="btn-img" src="../../../assets/icon_product_cart.webp" />
        <img
          class="btn-img"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
    </div>
  </div>
  <div class="new-item-row">
    <div class="new-image">
      <img class="item-image" src="../../../assets/MaxPlay-logo.png" />
    </div>
    <div class="item-title">MaxPlay-logo</div>
    <div class="item-details-container">
      <div class="item-type"><span class="item-span">Type</span>: Keyboard</div>
      <div class="item-RGB"><span class="item-span">RGB</span>: Yes</div>
    </div>
    <div class="item-price-container">
      <div class="item-price">250.00$</div>
      <div class="item-buttons">
        <img class="btn-img" src="../../../assets/icon_product_cart.webp" />
        <img
          class="btn-img"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
    </div>
  </div>
  <div class="new-item-row">
    <div class="new-image">
      <img class="item-image" src="../../../assets/MaxPlay-logo.png" />
    </div>
    <div class="item-title">MaxPlay-logo</div>
    <div class="item-details-container">
      <div class="item-type"><span class="item-span">Type</span>: Keyboard</div>
      <div class="item-RGB"><span class="item-span">RGB</span>: Yes</div>
    </div>
    <div class="item-price-container">
      <div class="item-price">250.00$</div>
      <div class="item-buttons">
        <img class="btn-img" src="../../../assets/icon_product_cart.webp" />
        <img
          class="btn-img"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
    </div>
  </div>
  <div class="new-item-row">
    <div class="new-image">
      <img class="item-image" src="../../../assets/MaxPlay-logo.png" />
    </div>
    <div class="item-title">MaxPlay-logo</div>
    <div class="item-details-container">
      <div class="item-type"><span class="item-span">Type</span>: Keyboard</div>
      <div class="item-RGB"><span class="item-span">RGB</span>: Yes</div>
    </div>
    <div class="item-price-container">
      <div class="item-price">250.00$</div>
      <div class="item-buttons">
        <img class="btn-img" src="../../../assets/icon_product_cart.webp" />
        <img
          class="btn-img"
          src="../../../assets/icon_product_wishlist_bell.webp"
        />
      </div>
    </div>
  </div>
</div>

<div class="view-all-items-container">
  <button class="view-all-items-button">View all new items</button>
</div>
